#entry-container{
    width: 80vw;
    margin: 8px auto;

}
#entry-text{
    font-size: 1.5rem;
}
.comment{
    border: 1px solid black;
    border-radius: 5px;
    max-width: 80vw;
    margin: 16px auto;
    padding: 0 5%;
}

.comment-author{
    display: flex;
    align-items: center;
}